 body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #aacfe2;
  color: #222;
  margin: 0;
  padding: 16px;
  }

  #base {
   display: flex;
   gap: 0.5rem;
   max-width: 600px;
   margin: 0 auto 2rem;
  }
 
  button {
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }

  button:hover {
    transform: translateY(-3px);
  }
  
  input {
    flex: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 2rem;
    box-sizing: border-box;
    margin-bottom: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10);
    transition: border-color 0.5s;
    max-width: 400px;
  }

  input:focus {
    outline: none;
    border-color: #6366f1;
  }

   .done {
    max-width: 600px;
    margin: 0 auto 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0, 2px, 8px rgba(0,0,0,0.1);
    background-color: white;
    border-left: 6px solid #0d144f;
    opacity: 0.5;
  }

  .task-div {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    background-color: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .todo-list {
    max-width: 600px;
    margin: 0 auto 1rem;
  }

  .todo-list .task-div.todo {
    border-left: 6px solid #3748c6;
  }

  .undo-btn {
    background-color: #4a38d31f;
    margin-left: auto;

  }
  .delete-btn {
    background-color: rgba(255, 0, 0, 0.785);
    margin-left: 7px;
  }
  #btn {
    background-color: #ffffff;
  }

  #clear {
    background-color: #ff9898;
  }

  .done-btn {
    background-color: #aacfe2;
    box-shadow:   -1px -1px 7px 1px #00000029;  
  }
